*{
    padding:0;
    margin:0;
    color:#000000;
    
}

html, body{
    background-color: #ffffff;
    text-align: center;
    
}
.Z{
    border:5px solid #162123;
    border-radius: 0px;
    margin: 0rem ;
    background-color: #162123;
    text-align: right;
    font-family: 'Josefin Sans', sans-serif;
    /*Letra mas recta*/
}

#agrupar {
    background-color: #F3CECB; 
    padding: 40px 40px 20px 500px; 
    font-family: 'Playfair Display', serif;
    /*Letra mas elegante*/
}

#menu {  
    background-color: #F3CECB; 
    padding:1px 0px 1px 250px ; 
    
} 
#menu li { 
    display: inline-block; 
    list-style: none; 
    font: bold 14px verdana, sans-serif; 
    padding: 1em 3px 0px 25px;  
    /*  arriba    1em  padding  */
    /*  derecha  3px  padding  */
    /*  abajo 30px padding  */
    /*  izquierda   5px  padding
    /* en dirección de las agujas del reloj */
}


.Principal{
    border:5px solid #f6f4f5;
    border-radius: 0px;
    margin: 0rem ;
    background-color: #F6F4F5;
    text-align: Center; 
}
#Artistass {  
    background-color: #f6f4f5; 
    padding:1px 0px 1px 250px ; 
    
} 
#Artistass li { 
    display: inline-block; 
    list-style: none; 
    font: bold 14px verdana, sans-serif; 
    padding: 1em 3px 0px 25px;  
    /*  arriba    1em  padding  */
    /*  derecha  3px  padding  */
    /*  abajo 30px padding  */
    /*  izquierda   5px  padding
    /* en dirección de las agujas del reloj */
}

.Artistas{
    border:5px solid #F6F4F5;
    border-radius: 0px;
    margin: 0rem ;
    background-color: #F6F4F5;
    text-align: Center; 
}
.Artistas div{
    display: inline-block; 
    /*
    border:5px solid #000000;
    border-radius: 10px;
    Este es para hacer 
    circular el margen*/
    padding: 3rem;
    /*hacia abajo*/
    width: 70%;
    /*ancho*/
    height: 50rem;
   /*largo*/
    background-color: #F6F4F5;
    text-align: Center; 
    
}
.Frank-Stella img{
    position: static;
    margin: 2rem;
    /*marguen*/
    border-radius: 0%;
    /*Este es para hacer 
    circular el margen*/
    height: 0px;
    bottom: 0px;
    /*posision */
    width: 13rem;
    /*tamaño */
    height: auto;
    display: block; 
}
.Frank-Stella figure{
    
    background-color: #f6f4f5;
    border: 5px solid #162123;
    padding: 10px;
    margin-bottom: 1px;
    width: 0%;
    border-radius: 0px;
    height: 20px;
    background-color: #FFFFFF;
    display: inline-table;
}

.Frank-Stella article{
    font-family: 'Playfair Display', serif;
    /*Letra mas elegante*/

}
/*este es otro artista*/
.Tony-Smith img{
    position: static;
    margin: 2rem;
    /*marguen*/
    border-radius: 0%;
    /*Este es para hacer 
    circular el margen*/
    height: 0px;
    bottom: 0px;
    /*posision */
    width: 12rem;
    /*tamaño */
    height: auto;
    display: block; 
}
.Tony-Smith figure{
    
    background-color: #f6f4f5;
    border: 5px solid #162123;
    padding: 10px;
    margin-bottom: 1px;
    width: 0%;
    border-radius: 0px;
    height: 20px;
    background-color: #FFFFFF;
    display: inline-table;
}

.Tony-Smith article{
    font-family: 'Playfair Display', serif;
    /*Letra mas elegante*/
}
/*este es otro artista*/
.Ludwig-Mies-Van-Der-Rohe img{
    position: static;
    margin: 2rem;
    /*marguen*/
    border-radius: 0%;
    /*Este es para hacer 
    circular el margen*/
    height: 0px;
    bottom: 0px;
    /*posision */
    width: 10rem;
    /*tamaño */
    height: auto;
    display: block; 
}
.Ludwig-Mies-Van-Der-Rohe figure{
    
    background-color: #f6f4f5;
    border: 5px solid #162123;
    padding: 10px;
    margin-bottom: 1px;
    width: 0%;
    border-radius: 0px;
    height: 20px;
    background-color: #FFFFFF;
    display: inline-table;
}

.Ludwig-Mies-Van-Der-Rohe article{
    font-family: 'Playfair Display', serif;
    /*Letra mas elegante*/
}
/*este es otro artista */
.Carl-Andre img{
    position: static;
    margin: 2rem;
    /*marguen*/
    border-radius: 0%;
    /*Este es para hacer 
    circular el margen*/
    height: 0px;
    bottom: 0px;
    /*posision */
    width: 14rem;
    /*tamaño */
    height: auto;
    display: block; 
}
.Carl-Andre figure{
    
    background-color: #f6f4f5;
    border: 5px solid #162123;
    padding: 10px;
    margin-bottom: 1px;
    width: 0%;
    border-radius: 0px;
    height: 20px;
    background-color: #FFFFFF;
    display: inline-table;
}

.Carl-Andre article{
    font-family: 'Playfair Display', serif;
    /*Letra mas elegante*/
}
/*otro artista */
.Robert-Morris img{
    position: static;
    margin: 2rem;
    /*marguen*/
    border-radius: 0%;
    /*Este es para hacer 
    circular el margen*/
    height: 0px;
    bottom: 0px;
    /*posision */
    width: 12rem;
    /*tamaño */
    height: auto;
    display: block; 
}
.Robert-Morris figure{
    
    background-color: #f6f4f5;
    border: 5px solid #162123;
    padding: 10px;
    margin-bottom: 1px;
    width: 0%;
    border-radius: 0px;
    height: 20px;
    background-color: #FFFFFF;
    display: inline-table;
}

.Robert-Morris article{
    font-family: 'Playfair Display', serif;
    /*Letra mas elegante*/
}
/*otro artista */
.Richard-Serra img{
    position: static;
    margin: 2rem;
    /*marguen*/
    border-radius: 0%;
    /*Este es para hacer 
    circular el margen*/
    height: 0px;
    bottom: 0px;
    /*posision */
    width: 17rem;
    /*tamaño */
    height: auto;
    display: block; 
}
.Richard-Serra figure{
    
    background-color: #f6f4f5;
    border: 5px solid #162123;
    padding: 10px;
    margin-bottom: 1px;
    width: 0%;
    border-radius: 0px;
    height: 20px;
    background-color: #FFFFFF;
    display: inline-table;
}

.Richard-Serra article{
    font-family: 'Playfair Display', serif;
    /*Letra mas elegante*/
}
/*OTRO ARTISTA*/
.Dan-Flavin img{
    position: static;
    margin: 2rem;
    /*marguen*/
    border-radius: 0%;
    /*Este es para hacer 
    circular el margen*/
    height: 0px;
    bottom: 0px;
    /*posision */
    width: 15rem;
    /*tamaño */
    height: auto;
    display: block; 
}
.Dan-Flavin figure{
    
    background-color: #f6f4f5;
    border: 5px solid #162123;
    padding: 10px;
    margin-bottom: 1px;
    width: 0%;
    border-radius: 0px;
    height: 20px;
    background-color: #FFFFFF;
    display: inline-table;
}

.Dan-Flavin article{
    font-family: 'Playfair Display', serif;
    /*Letra mas elegante*/
}
